html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #e42323;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: 14px;
    padding-left: 10%;
}

#Supreme {
    width: 300px;
    height: auto;
}

li {
    font-size: 2.0rem;
    width: 200px;
    color: #111;
    background-color: rgb(0, 0, 0);
    padding: 4px 10px;
    margin: 2px 0;
}

.horizontaal {
    margin: 20px auto;
    background-color: #e42323;
    float: center;
}

.horizontaal li {
    display: inline-block;
    text-align: center;
    margin: 10px 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover, li:hover {
    background-color: rgb(0, 0, 0);
    font-variant: small-caps;
}

.supreme{
    color: black;
    padding: 30px 20px 10 px 20px;
    border: solid 1px;
}
.bape{
    color: black;
    padding: 30px 20px 10px 20px;
    border: solid 1px;
}
.nike{
    color: black;
    padding: 30px 20px 10 px 20px;
    border: solid 1px;
}
.background1{
    background-color: #ffffff;
}
.horizontaal3{
    background-color: #ffffff;
    margin-left: 30px 20px
}

.head {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: 14px;
}