html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #e42323;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: 14px;
    padding-left: 10%;
}

#Supreme {
    width: 300px;
    height: auto;
}

li {
    font-size: 2.0rem;
    width: 200px;
    color: #111;
    background-color: #AAA;
    padding: 5px 15px;
    margin: 2px 0;
}

.horizontaal {
    margin: 20px auto;
    background-color: red;
    float: right;
}

.horizontaal li {
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover, li:hover {
    background-color: #CCC;
    font-variant: small-caps;
}
